[2019-11-18 17:33] bushidocodes opened #99 "Unclear that project assumes location at /usr/local/code/faasm"
Hi! Very interesting work here! I'm trying to run your `docker-compose` based quickstart and it seems that the upload service dies nearly immediately. Here are the relevant logs.

[code]

Glancing at the source, I looks like this might be coming from `codegen_func.cpp`. Not sure if this helps, but it looks like codegenForFunction is getting run even if the msg contains an invalid function.

[code]

[2019-11-18 20:36] bushidocodes commented on #99
After spending a bit more time with this, it seems that everything sort of boils down to there being an implicit assumption that I git clone your project into `/usr/local/code/faasm/`. Perhaps I missed this somewhere in the documentation, but it might be worth making trying to make this a bit more clear in the docs.

[2019-11-18 21:04] bushidocodes opened #100 "The faasm/toolchain expects a compiler at /usr/local/code/faasm/toolchain/install/bin/clang++"
After running `./bin/toolchain.sh`, and then executing the example from the README, the client errors because clang is not where it expects.

[code]

[2019-11-18 22:09] bushidocodes commented on #100
I symlinked clang and clang++ at the locations indicated above, and it got me a bit further.  I assume there might be something else I need to symlink?

[code]

[2019-11-20 12:17] Shillaker commented on #99
Hello @bushidocodes, thanks for the interest and sorry for the slow response. This is a bit of a relic that needs tidying up so I'll see what I can do. Thanks for raising

[2019-11-20 12:18] Shillaker commented on #100
Let me have a look now, this should work out of the box.

Out of interest what sort of system are you running on?

[2019-11-20 12:35] Shillaker opened #102 "Reduce Docker image sizes"
Images are currently bloated with lots of set-up artifacts. Sharing a base image is useful for convenience but introduces something which are unnecessary elsewhere (like the toolchain). This can be tidied up with multi-stage builds.

[2019-11-20 13:09] Shillaker opened #103 "Versioning"

[2019-11-20 14:20] bushidocodes commented on #100
Yeah, my toolchain is pretty complicated. Currently using the Windows Subsystem for Linux 2 + Ubuntu 18 LTS + Docker for Windows (using a WSL backend).  It's the mullet of systems: Business in the front, Party in the back.

In theory, everything should be behaving as with a native Ubuntu system. I'm happy to retry on a native Ubuntu partition if you think that might be relevant here. I just couldn

[2019-11-20 15:34] Shillaker commented on #100
:laughing: at the mullet. As much as it's non-standard you're right, it ought to work properly and the problem was with the code. I'd neglected the README for a while but the PR mentioned above should fix both issues you raised.

With `docker pull faasm/worker`, `docker pull faasm/upload` and `docker pull faasm/toolchain` things should work more smoothly.

Let me know if that works and thanks agai

[2019-11-27 00:34] bushidocodes opened #106 "`set_up_benchmarks` triggers error around AWSSDK"
I've run the Ansible setup scripts on a native Ubuntu box, but after restarting, when I try to run ` ./bin/set_up_benchmarks.sh`, I'm getting errors about the AWSSDK library. My goal is basically just to profile faasm locally rather than on cloud providers, so if you can clarify the commands or environment variables I need to set, that should be sufficient.

[code]

[2019-11-27 00:36] bushidocodes commented on #100
All the `docker-compose` stuff now worked well for me! Thank you for the fix. I think you can feel free to close this one.

[2019-11-27 10:25] #100 closed

[2019-11-27 10:42] #99 closed

[2019-11-27 14:44] Shillaker commented on #106
Ah yes, there is a switch to turn off the AWS support but it was "on" by default and missed a couple of things. The PR above should have fixed it and it's now off by default too. Thanks again for the interest and for persevering! As always let me know if there are any more issues.

[2019-11-27 15:05] #103 closed

[2019-12-02 22:13] bushidocodes opened #112 "Role llvm not defined"
When I run `./bin/set_up_benchmarks.sh`, I get an error about the llvm role.

I was able to get this to work by changing `llvm` to `llvm9`. Considering that you have both `llvm8` and `llvm9`, I'm assuming that there's some sort of implicit branching logic.

[2019-12-02 22:26] bushidocodes opened #113 "Instructions for installation on localhost"
I ran the Ansible playbook locally in a VM. To do this, I did the following:

1. I cloned your git repo in `/usr/local/code`. Given that your repo is named `Faasm`, this yielded `/usr/local/code/Faasm` (notice the capital F)
2. I then changed `provision_bench_host.sh` to have the following line:

[code]

3. I then ran `/usr/local/code/Faasm/bin/provision_bench_host.sh`. The generated a distinct di

[2019-12-02 22:49] bushidocodes opened #114 "./bin/provision_bench_host.sh [spdlog : Clean up] Fails"
The provision script fails on spdlog cleanup. This prevents the playbook from completing.

[code]

Looking in the relevant directory, it seems like this is failing because a bunch of subdirectories are owned by root.

[code]

I then tried to rerun as root after running `sudo su`:

This led to a failure in the Check out code task.

[code]

[2019-12-02 22:54] bushidocodes commented on #106
I'm not sure if I didn't notice it properly before or if something has changed (probably the former), but the setup playbook is not running to completion. I can't accurately validate this fix until those issues are resolved.

Thank you for your help with this! I appreciate the responsiveness! 👏

[2019-12-03 00:15] bushidocodes commented on #106
Ok, I was able to figure out a workaround, and this didn't hang on the AWS SDK any longer. This can probably be closed.

[2019-12-03 00:18] bushidocodes opened #115 "No such file or directory ~/faasm/results/runtime-bench-time.csv"
When I run `inv bench-time`, I error out because this file/directory doesn't exist

[code]

I was able to get past this by running the following:

[code]

[2019-12-03 10:10] Shillaker commented on #106
Ok great! Which setup playbook do you mean? The AWS one? I'll have a look and fix it.

Cheers

[2019-12-03 10:11] Shillaker commented on #106
Ah just seen all the other issues, thanks for the detail! I'll dig into them.

[2019-12-03 17:49] #106 closed

[2019-12-03 18:55] Shillaker commented on #113
You're right, the `provision_bench_host.sh` script is meant for remote hosts and will, among other localhost-unfriendly things, check out the code (hence the new directory created at `/usr/local/code/faasm`).

The instructions for local development can be found at [`local_dev.md`](https://github.com/lsds/Faasm/blob/master/docs/local_dev.md), which describes a localhost-friendly Ansible playbook.

[2019-12-03 18:56] Shillaker commented on #112
Fixing as part of #117

Should be using `llvm9` everywhere but I hadn't completed the update

[2019-12-03 18:56] Shillaker commented on #114
Fixing as part of #117

[2019-12-03 19:45] Shillaker commented on #115
This should also be fixed in #117

[2019-12-03 19:51] Shillaker commented on #115
Thanks so much for the detail on these @bushidocodes , as always keep 'em coming if you find any more issues!

Cheers

[2019-12-03 21:50] bushidocodes opened #118 "Permission error creating `/usr/local/faasm/` when running `set_up_benchmarks.sh`"
I'm not sure if this is supposed to be `/usr/local/code/faasm/object/demo`, but I used sudo to mkdir and chown `/usr/local/faasm` to get past this.

[code]

[2019-12-03 21:53] bushidocodes opened #119 "When running memory benchmarks as root, errors due to missing binaries"
Setting up the benchmarks seems to have placed a bunch of things in `~/faasm/`, but when following the benchmark instructions, you suggest running as root, and this errors out because the expected binaries aren't in `/root/faasm/bench`.

To get past this, I just copied `~/faasm/bench` to `/root/faasm/bench`

[2019-12-04 00:11] bushidocodes opened #120 "inv compile clang++ not found"
Running `inv compile --user=polybench --clean` yields the following error:

[code]
I'm not sure if this is supposed to be `/usr/local/code/faasm/toolchain/bin/clang`, but `/usr/local/faasm/toolchain` does not exist.

This is what I see in `/usr/local/code/faasm/toolchain/bin/`

[code]

[2019-12-04 00:19] bushidocodes opened #121 "Polybench Instructions Clarification (inv upload-all)"
The instructions include the following:

[code]

Does this mean that we need to start an upload server running before this command? If so, how?

This is what I see running this:

[code]

[2019-12-04 00:27] bushidocodes opened #122 "poly_bench binary not found"
Afer I run `./bin/build_polybench_native.sh`, a lot of things get built, but `poly_bench` isn't found, and it doesn't seem to have been built based on the logs.

[code]

Here are the logs:
[code]

[2019-12-04 16:34] Shillaker commented on #118
This should now be created as part of the local and benchmark machine set-ups (https://github.com/lsds/Faasm/blob/master/ansible/roles/runtime_fs/tasks/main.yml).

As long as the directory is there and is suitably permissive things should work ok. As you say:

[code]

[2019-12-04 16:42] Shillaker commented on #120
Ah yes, you'll need to run `inv download-toolchain`. Adding to the benchmark docs.

[2019-12-04 16:42] Shillaker commented on #119
Ah yes good point, I wonder if a symlink might be better, I'll update the docs.

[2019-12-04 16:58] Shillaker commented on #121
Yes, that's the `upload` target that will run the upload server on port `8002`. It should have been built at some point beforehand. I'll add it to the `set_up_benchmarks.sh` script so if you rerun that you should find the binary wherever those are built (`~/faasm/bench/bin/upload`).

[2019-12-04 17:46] Shillaker commented on #122
This is another one I've added to `set_up_benchmarks.sh`, it should now build the `poly_bench` binary as well. This is all in PR #123 .

Unfortunately something is still broken with the Python runtime which I need to fix, so the Python benchmarks may not run at the moment. I'll get that sorted tomorrow.

Thanks again!

[2019-12-12 09:33] #122 closed

[2019-12-12 09:34] #115 closed

[2019-12-12 09:34] #113 closed

[2019-12-16 18:24] #112 closed

[2019-12-16 18:24] #114 closed

[2019-12-16 18:24] #118 closed

[2019-12-16 18:25] #119 closed

[2019-12-16 18:25] #120 closed

[2019-12-16 18:25] #121 closed

[2019-12-29 12:43] robinvanemden opened #130 "Building ONNX function from source"
I am learning `Faasm` by rebuilding functions, but I am currently stumped on how to generate the `LLVM` `onnxruntime` include directory:

`/usr/local/faasm/llvm-sysroot/include/onnxruntime`

I presume I need to use `clang` to emit `LLVM IR` by compiling the OnnxRuntime source code? Do you maybe have a build script or `Makefile` that you could share, to help me get started?

[2019-12-30 09:06] robinvanemden commented on #130
Now that I delve further into the code, I think that you are or will be replacing the ONNX function with a TensorFlow Lite one - am I correct? If so, would that be because the conversion of OnnxRuntime to WASM hampers its performance?

[2020-01-02 12:26] Shillaker commented on #130
Hi Robin, thanks for the interest and sorry for the slow reply. Yes although I started experimenting with ONNX Runtime I had to abandon it as I couldn't get the latest version to compile to WebAssembly. I forgot to remove the ONNX function as part of the clean-up (have done so in the latest PR). The compilation fails when it hits the BLAS part. It looks like ONNX runtime only has BLAS for approved

[2020-01-02 15:40] robinvanemden commented on #130
Hi Simon, thanks for your informative answer! Good to know about the BLAS related compilation problems with the ONNX Runtime. I may look into the compilation of some other inference engines that offer ONNX support, such as [MNN](https://github.com/alibaba/MNN) or [Menoh](https://github.com/pfnet-research/menoh). Yet it is already really cool to be able to run TFLite WASM functions! I will certainl

[2020-01-02 17:43] prp commented on #130
Hi @robinvanemden it would be great if you could contribute back what you get to work as PRs, thanks.

[2020-02-01 13:44] bhack commented on #130
Are you in contact with https://github.com/clang-ykt/ONNF?

[2020-02-01 23:07] robinvanemden commented on #130
Thanks @bhack - looks interesting!

[2020-02-02 00:34] bhack commented on #130
Check also https://groups.google.com/a/tensorflow.org/forum/m/#!topic/mlir/CUL3_8fnJb4

[2020-04-12 06:25] nayakajay opened #212 "Sharing state in python"
I was trying to understand how to share data between a created thread and main func
I am trying to follow and reuse code from these 2 examples present in func/python:
1. func/python/state_test_read.py ==> for sharing data without passing information
2. func/python/chain.py                 ==> to create threads and wait for it

Here is the snippet I am using
[code]

json.decoder.JSONDecodeError: Ex

[2020-04-12 06:32] nayakajay opened #213 "Understanding Python Chaining API"
I am trying to understand the chaining API described over here:
https://github.com/lsds/Faasm/blob/master/docs/python.md#python-api

On using this, I see the error:
ModuleNotFoundError: No module named 'pyfaasm.code'

On looking at pyfaasm git, I don't see any code package

Is it a future possibility or am I missing something?

[2020-04-13 10:54] Shillaker commented on #212
Hey @nayakajay thanks for raising this. Sharing a dictionary through state should be fine in the way you describe, I'll have a go myself later and add a worked example to the docs. I'll also update the listing mentioned in #213 ; I think that bit's just out of date.

Thanks again!

[2020-04-13 14:40] nayakajay commented on #212
Thanks, as of now, I still see those errors. I will refactor my snippet once you add a worked out example.

[2020-04-15 11:39] Shillaker commented on #212
Just FYI I'm currently working on this. Some of the Python-related code needs to change to accommodate changes elsewhere in the system, so it's taking a little bit more time than expected.

[2020-04-16 16:45] jiayihu opened #216 "Getting started for newcomers"
Hi, I'm a CS student in Padova (Italy) on Master Degree and I was interested in working on a thesis about serverless computing and I found this project. I have personal good experience with JavaScript and frontend technologies, but I'm not sure where to get started with WebAssembly and this project in particular. Do you have any advice/resource to share?

I'd also love to see if you have any roadm

[2020-04-18 15:57] mfournial commented on #216
Hi,
In terms of roadmap, it is currently quite HPC oriented at the moment. I'm currently doing my own thesis on using supporting existing OpenMP programs in a dynamic environment. And at the same time the codebase is being extended for MPI support and is being corrected for WASI compatibility instead of the current more custom Faasm host interface.

There are many new things you could use Faasm fo

[2020-04-18 16:53] jiayihu commented on #216
Thanks for the reply. Yup, after I posted the issue I found the paper about Faasm and realised it's focused on HPC whereas my interest is more on edge computing and replicating/analysing the work done by Fastly and Cloudflare.
I'm also interested in the integration with Rust, but I didn't understand your statement about composable API with DAGs. I suppose I need to study a lot yet :)

[2020-04-20 17:19] Shillaker commented on #216
Hi @jiayihu, thanks for the interest!

If you're coming from the browser/ Javascript world then you might be interested in the cross-over between client-side wasm and server-side wasm as @mfournial mentioned. Faasm.js was a PoC I did to experiment with offloading client-side wasm tasks to a back-end serverless wasm cluster. The idea is to have exactly the same code able to execute in the browser a

[2020-04-21 09:38] Shillaker commented on #212
Hey @nayakajay I've updated the Python chaining API which is reflected in the [Python docs](https://github.com/lsds/Faasm/blob/master/docs/python.md). Functions are now chained by passing the function object directly, so there's no need for the decorators. Additionally the script itself no longer needs to be executable, it just needs to have a `faasm_main` function.

A simple example is shown in t

[2020-04-22 07:04] luckyfengyong opened #221 "Fail to run wasm demo in wasmer"
@mfournial @Shillaker I like the idea to leverage wasm as runtime working with kantive to resolve the issues of performance and state. It is pretty straightforward to deploy faasm in k8s/knative and run a demo to understand the workflow. When I want to dig into the wavm of Faasm, I try to run the demo (hello) with another wasm runtime, wasmer, it failed with error message of "wasi_snapshot_preview

[2020-04-22 08:38] Shillaker commented on #221
Hi @luckyfengyong, Faasm currently doesn't support wasmer, so the results of running WebAssembly from the Faasm repo with wasmer are undefined. Faasm uses [WAVM](https://github.com/WAVM/WAVM) under the hood, and has experimental support for [WAMR](https://github.com/bytecodealliance/wasm-micro-runtime).

WebAssembly code in the Faasm repo is compiled with the WASI toolchain with a [few modificatio

[2020-04-23 01:42] luckyfengyong commented on #221
@Shillaker Thanks a lot. I will check the logic how `inv compile` works and follow the instruciton to develop wasm for Faasm. I also found the [issue ](https://github.com/bytecodealliance/wasi/issues/37) in wasi github regarding compatibility of snapshot migration.  But what you provided is more comprehensive.

Thanks again.

[2020-04-23 01:42] #221 closed

[2020-04-24 07:45] #130 closed

[2020-04-24 07:46] #216 closed

[2020-04-24 07:47] Shillaker commented on #212
Going to close these now as I've not heard anything but feel free to raise further issues if things don't work out.

[2020-04-24 07:47] #212 closed

[2020-04-24 07:47] #213 closed

[2020-04-27 11:21] nayakajay opened #234 "Unable to upload using 'inv' command"
I am currently on the latest commit (master branch).
the /bin/cli.sh suggests I am on **faasm CLI version : 0.1.3.**

I am having trouble while uploading functions i.e. with the command
**inv upload --py python dict_state**

In fact, I face the same issue with all files, not just python. Below command gives the same issue
inv upload demo hello

![Error_5_upload](https://user-images.githubuserconte

[2020-04-27 11:23] nayakajay commented on #212
Hi, sorry didn't get a chance to test it. I am sure this will work, but on a latest commit I am getting other issues. I have opened another issue.
[https://github.com/lsds/Faasm/issues/234]

Thanks

[2020-04-27 12:17] Shillaker commented on #234
Hi @nayakajay . That seems strange, perhaps 0.1.3 is broken. Could you try updating to the latest master and running? This should use 0.1.4 which seems to work ok for me.

Thanks

[2020-04-27 18:11] nayakajay commented on #234
Hi, I used **0.1.5.** which was the latest version, it works, was able to invoke both the functions.
I am closing this issue.
Thanks.

[2020-04-27 18:11] #234 closed

[2020-04-30 17:04] nayakajay opened #239 "Read a file in python"
I have a simple program that tries to read a file in python
[code]

The problem I am facing is the path, even though I give the absolute path
eg. /usr/local/code/faasm/my_data.json
[I have added the file in the environment, just copied it though, which can be the problem]

I found only 1 sample for reading a file in python [bench_telco.py], however the file was present in dist-packages folder.

Th

[2020-05-03 07:42] nayakajay opened #241 "Adding custom packages to faasm"
I want to add a custom package to faasm, so that I can use it in my functions.
I cloned pyodide repo in third-party/pyodide folder as it was empty?

I will use boto3 as the running example
[code]

I don't see any errors yet.
Next step is to modify tasks/python.py
I take this is file is present in faasmcli/faasmcli
I add it to the dictionary as explained, similar to other modules but with proper ve

[2020-05-04 07:49] nayakajay commented on #241
Few Updates:

1. I saw that the for pyodide you have a different fork, I got that up and running
2. All the steps mentioned here ["https://github.com/lsds/Faasm/blob/master/docs/python.md"](url)
from **Building CPython** till **Adding the new package to the runtime root** have to be performed post
[code]
3. I have achieved codegen step and it's all successful. But still get some error
![Error_6_bo

[2020-05-04 08:08] mfournial commented on #241
If I remember correctly `boto3` is used in the CLI commands. It looks like you're trying to develop locally so make sure you follow the steps in (the local dev)[https://github.com/lsds/Faasm/blob/master/docs/local_dev.md), or at least the bits relevant to python. Here you're missing
[code]

[2020-05-04 09:29] Shillaker commented on #241
Hi @nayakajay first off, you're right that Faasm uses a custom Pyodide fork, this is handled using Git submodules, which guarantee the repo is pinned to a specific commit. `third-party/pyodide` will be empty if you haven't updated these Git submodules, which you can do by running `git submodule update --init third-party/pyodide` (more docs [here](https://git-scm.com/book/en/v2/Git-Tools-Submodules

[2020-05-04 09:44] Shillaker commented on #239
Hi @nayakajay , because Faasm is a multi-tenant runtime, it stops functions from accessing arbitrary files on the underlying host for security purposes. While certain files can be whiltelisted (e.g. those related to the Python runtime), all others must go through Faasm's shared file support.

Generally it is inadvisable to share data using the filesystem if you can avoid it, and instead use Faasm'

[2020-05-04 11:02] nayakajay commented on #241
I have a bunch of functions with usage of nltk, boto3, tensorflow and few other packages. I would like to use them in faasm environment. I was trying to add them to the environment one by one.
However, I get your point when you mentioned can't "see", makes sense to me now.

For local dev setup, I am not sure if i want to change Faasm code yet, however I would like to add more packages.

So to achi

[2020-05-04 13:24] Shillaker commented on #241
I would be surprised if an application combining those packages will work in Faasm/ Pyodide without a _lot_ of work. Every Python package requires effort to port to Pyodide, especially if it uses a lot of C bindings. Tensorflow has some fairly heavyweight C/C++ code which must be compiled to WebAssembly, and will introduce further native dependencies that also need to be compiled to WebAssembly. A

[2020-05-11 05:44] nayakajay commented on #213
I have some clarifications related to python chaining, figured this is the right place to ask

There are 2 functions, which I want to execute one after the other, specifically, first functions output
is gonna be second function's input.

There are 2 possibilities
1. As shown in the python README
[code]
In this case, are both f1 and f2 running in parallel? As in, if there are multiple workers (say

[2020-05-11 09:05] Shillaker commented on #213
Yes, you will have to guarantee that f1 has finished before you chain the call to f2, hence your second snippet is correct.

[2020-05-11 10:57] nayakajay commented on #213
I was seeing some weird results on using snippet 1. I think I got it now.
Thanks for being so responsive.

[2020-05-12 10:24] nayakajay commented on #239
Yes, I agree with the role of the filesystem in a serverless environment is unclear as it potentially opens up other security concerns as well.
I was using a file to replace an http request for fetching data and see the behavior.
I have tried the API and it works as expected.

Thanks, closing this issue now.

[2020-05-12 10:24] #239 closed

[2020-05-15 06:42] nayakajay opened #250 ""EOFError: Ran out of input" on using shared memory"
I am observing a strange behavior while using shared memory in python.

Below is the code snippet: **shm.py**
[code]

I see inconsistent outputs for multiple runs for these as seen in screen shot. One is a success and next is a failure.
![Error_shm](https://user-images.githubusercontent.com/35248326/82019048-19ceaf00-96a4-11ea-94bf-f082609647f0.png)

Steps:
[code]

This works fine, sometimes, on c

[2020-05-15 18:47] Shillaker commented on #250
Hi @nayakajay , I'll be able to look at this properly on Monday, but you may be missing a `push_state` after you call `set_state`.

`get_state` and `set_state` operate on local shared memory, so changes made by `set_state` will be visible to functions executed on the same host (in this case, in the same container), but not to those on other hosts. To synchronise data between hosts you need to make

[2020-05-19 05:17] nayakajay commented on #250
I have not tried ```push_state(key)``` yet (will have it by EOD), but I am wondering if I really need it. For now, this is a local installation (should have mentioned it), which is running on a single host, and there is only **1 worker** container up. All the functions will execute in the same worker. I think I am missing something here.

Thanks

[2020-05-21 12:59] 81120 opened #251 "Will this sulution supports Golang in the future?"

[2020-05-21 15:35] Shillaker commented on #251
There are no plans to support Go any time soon, but assuming the Go-wasm toolchain is mature enough, it should be relatively straightforward to do so.

[2020-05-21 15:35] #251 closed

[2020-05-23 13:15] nayakajay commented on #250
Hey, it took longer than expected:
So here is the modified write_dict_to_state() function:
[code]

The error still persists, as the screen shot above records it, but additionally, after the failure I observed above, when I retry again, I see a new error, which was not observed earlier.
![Error_shm_3](https://user-images.githubusercontent.com/35248326/82731568-880b1580-9d25-11ea-8cec-95dbd8c38d56.p

[2020-07-09 07:56] #102 closed

[2020-07-09 07:57] #241 closed

[2020-08-25 08:43] #250 closed

[2020-09-03 01:11] mye-rutgers opened #288 "Manifest Issue"
Hello,

Recently when I tried to start a Faasm cluster by the ``docker-compose up --scale worker=2`` command, I had the following error:

[code]

I would truly appreciate it if the issue could be resolved soon.

Best Regards,
Mengmei

[2020-09-03 08:18] Shillaker commented on #288
Hi Mengmei, I'll do another release today which should fix things up. Cheers!

[2020-09-03 16:22] mye-rutgers commented on #288
@Shillaker Great! Thanks a lot!

[2020-09-04 17:36] Shillaker commented on #288
Hi Mengmei, turns out a couple of containers hadn't built for release `0.4.3`. It should work now.

Let me know if you encounter any more issues.

Cheers

[2020-09-07 19:17] Shillaker commented on #288
Hi Mengmei, yes that looks a bit odd, the worker is failing to start because it's getting a conflict between LLVM versions. You're right, the Docker quick-start shouldn't be affected by anything on your machine (other than your Docker installation).

Could you check whether the issue still persists with the current master version (0.4.4)? To make triple sure, could you delete all the faasm Docker

[2020-09-07 20:13] mye-rutgers commented on #288
Hi @Shillaker, thanks a lot for the helpful instructions! I deleted all the faasm Docker images, and the current master version works perfectly fine now :)

Just for your reference, my Docker version is 19.03.12, and my docker-compose version is 1.26.2.

[2020-09-08 08:27] Shillaker commented on #288
Ok great! I'll close this issue now but feel free to raise others if you have any more issues.

Cheers

[2020-09-08 08:27] #288 closed

[2020-09-28 09:17] csegarragonz opened #298 "Minor fixes on documents"
Correct some minor nits in the documentation, and in the process test the new Issue + PR + Project workflow.

[2020-09-28 11:17] Shillaker opened #301 "Fix build"
Merge to move org required premature merge of #295. Fix test failures that resulted.

[2020-09-28 14:14] #301 closed

[2020-09-28 14:53] Shillaker opened #302 "Add Horovod + MXNet support"
We'll target Horovod and MXNet as per [this example](https://github.com/horovod/horovod/blob/master/examples/mxnet/mxnet_mnist.py).

- [ ] Ensure numpy using correct CBLAS and LAPACK
- [ ] Build MXNet and downstream deps to wasm shared libs
- [ ] Run Horovod through standard cross-env build (https://github.com/faasm/faasm-cpython)
- [ ] Add Faasm Python function to run code similar to Horovod MXNe

[2020-09-29 06:33] Shillaker opened #303 "Format everything"
`clang-format` for C/C++, `black` for Python

- [x] Apply clang-format everywhere
- [x] Add clang-format check to build
- [x] Apply Black everywhere
- [x] Add Black check to build
- [x] Apply clang-format to other non-fork repos in `faasm` org
- [x] Add CI check for formatting in non-fork repos in `faasm` org

[2020-09-29 07:27] Shillaker opened #305 "Add CLAPACK"
Use CLAPACK to support BLAS/ LAPACK.

WebAssembly build covered in this repo already: https://github.com/faasm/faasm-clapack

[2020-09-29 07:48] #298 closed

[2020-09-29 07:54] csegarragonz commented on #303
I suggest that, as a part of this refactor, we include a small section either on [Development](https://github.com/lsds/faasm/blob/master/docs/development.md), or as a new _Contribuiting_ section, on the code format we follow and maybe some examples on how to enforce it (i.e. integrate it with different text editors).

PS: unsure if it's worth it if we include a style phase in the CI pipeline.

[2020-09-29 08:13] Shillaker commented on #303
I think the CI check and a little note in [development.md](docs/development.md) to say that we use clang-format and black should do the trick. They're both sufficiently well known tools that people can work out how to integrate them into their own environments.

This can be done as part of the PR to reformat the repo.

[2020-09-29 08:34] csegarragonz opened #306 "Update script to support zsh"
Currently, the `workon.sh` script, invoked using `source`, relies on the `complete` keyword not available in `zsh`.

In order to support completion in `zsh` one must prepend:
[code]

[2020-09-29 16:29] #306 closed

[2020-09-30 11:35] #305 closed

[2020-09-30 16:51] Shillaker opened #311 "Fix Rust support"
Rust support needs updating to the latest Faasm version.

- [ ] Update [`faasm-sys`](https://github.com/mfournial/faasm-sys) (via this [fork](https://github.com/faasm/faasm-sys))
- [ ] Update [`rust-faasm`](https://github.com/mfournial/rust-faasm) (via this [fork](https://github.com/faasm/rust-faasm))
- [ ] Reinstate [test](https://github.com/lsds/faasm/blob/master/tests/test/faaslet/test_rust.cpp

[2020-09-30 16:52] Shillaker opened #312 "Remove Typescript support"
It's not used and adding extra clutter.

See https://github.com/lsds/faasm/search?q=typescript.

[2020-10-02 12:47] Shillaker opened #314 "Release toolchain and CPython separately"
The [toolchain and stdlibs](https://github.com/faasm/faasm-toolchain/), [CPython build](https://github.com/faasm/faasm-cpython/) and [BLAS build](https://github.com/faasm/faasm-clapack) are often unchanged between Faasm releases. Accordingly, it no longer makes sense to package them as part of each Faasm release.

We should package and release each repository separately, then pin Faasm releases to

[2020-10-07 07:58] Shillaker opened #318 "Clang-format newlines at EOF"
Enforce a consistent style on this (either with or without, but it should be impossible to pass the check if the file has the wrong ending).

Note that the check that we perform in CI will be with [`run_clang_format.sh`](https://github.com/faasm/faasm/blob/master/bin/run_clang_format.sh).

[2020-10-07 10:02] csegarragonz commented on #318
**Identifying the problem:**

Disclaimer: I might have overengineered this a bit, but whatever.

I have written the following test script `newline_test.sh`:
[code]

It is useful to tell which files have a trailing newline and which not. It's clear that there's divergence as running it on `faasm/src` outputs the following:
[code]
Note that, an alternative manual check is running `cat -e <file_name>

[2020-10-07 12:05] Shillaker commented on #318
:joy: oh wow, what a can of worms... classic bikeshedding :smile:

I think the final script looks great though, so shall we merge it into `run_clang_format.sh`? Something like (untested):

[code]

There is also the matter of enforcing a _single_ newline at the end of the file, rather than many, but we can leave that for another day...

[2020-10-07 15:17] csegarragonz commented on #303
Just checking-in here to remind ourselves to use the updated `run_clang_format.sh` with the newline trailing (I don't know in which circumstances we could forget about it, but anyway).

[2020-10-07 15:17] #318 closed

[2020-10-09 12:52] #302 closed

[2020-10-10 10:05] csegarragonz opened #321 "Review eigen build and fix install"
Experiencing some issues with the current `eigen` build and change the installation to run on `ninja` rather than `make`. Additionally, it might be a good idea to port the repo from Gitlab to Github.

**To-Do:**
* [ ] Migrate repo from [Gitlab](https://gitlab.com/shillaker/eigen) to Github (faasm/eigen).
* [ ] Double check the current build works on 20.04.
* [ ] Change installation script in `faas

[2020-10-12 07:51] Shillaker commented on #321
Looks good, this should be captured in #314 though, so I'll add a note in there and close this one.

[2020-10-12 07:52] #321 closed

[2020-10-15 15:40] mengmeiye commented on #288
Hello again!

Previously I worked on `v0.4.4`. I could run the given examples but failed to recompile them. Therefore, I switched to the current `v0.4.10` but encountered the following issues:
[code]

Then, I tried to use `v0.4.9`. Building the cluster worked fine, but when I ran the CLI, I saw the following error message:
[code]

Would you mind providing some help with how to add the `toolchain:0

[2020-10-15 15:41] mye-rutgers commented on #288
Hello again!

Previously I worked on `v0.4.4`. I could run the given examples but failed to recompile them. Therefore, I switched to the current `v0.4.10` but encountered the following issues:
[code]

Then, I tried to use `v0.4.9`. Building the cluster worked fine, but when I ran the CLI, I saw the following error message:
[code]

Would you mind providing some help with how to add the `toolchain:0

[2020-10-20 17:19] csegarragonz opened #323 "Error in matplotlib (3.3.2) requirements"
Currently, when installing `faasm`'s python environment, I get the following error:
[code]
In order to replicate it, just delete the current `venv` folder and install the requirements again:
[code]
--------------
Looking around, the issue is known to `matplotlib`'s maintainers, and has was raised in matplotlib/matplotlib#18337 and addressed in matplotlib/matplotlib#18636.
The PR is tagged with `v3

[2020-10-21 08:15] Shillaker opened #324 "Pin Python dependency versions"
In `requirements.txt`

[2020-10-21 10:11] csegarragonz opened #325 "Broken Ansible Playbook for Catch2"
I am having troubles linking with the `catch2` library. The ansible playbook is broken as there's a [broken link](https://raw.githubusercontent.com/catchorg/Catch2/master/single_include/catch2/catch.hpp), noted in their repo catchorg/catch2#2050.

I am aware that we are moving to a `CMake` based [integration](https://github.com/faasm/faasm/blob/66e45a9bbfd232cf46d96be2ddb634b2b0a7bdc1/cmake/Extern

[2020-10-21 10:56] Shillaker commented on #325
Yep, this will be closed by #322

[2020-10-23 09:10] csegarragonz opened #328 "Should we change the user running within the container?"
When moving to a container-based development cycle there's the recurrent issue of the `uid:gid` missmatch. As a result, with the current toolchain, the user ends with several root-owned directories. In my opinion, we'd be better of running the container with the same `uid:gid` as the user invoking it (note that this will also require some changes to `cli.dockerfile`).

Furthermore, Docker4Mac corr

[2020-10-23 09:32] csegarragonz opened #329 "RPC Tests Failing in Some Installations"
When running the test suite, sometimes RPC tests fail.
[code]
In particular this is located at
[code]

[2020-10-23 10:14] #314 closed

[2020-10-29 12:25] csegarragonz opened #334 "[DISCUSSION] How should the related development environments look like?"
After #322, we now have a smooth containerized development enviornment for `faasm`. Which I must admit I very much like.

However, the `faasm-experiments` repo (among others) has ben, rightfully, left out of the picture. I agree it should be out, but then we should provide a way to develop. I am bringing this issue up for `faasm-experiments`, but this works similarly for `faasm-toolchain` or even

[2020-11-05 11:05] Shillaker commented on #334
I get your points, although are you assuming we'd still run this development environment from Faasm? I would think of them all as separate projects, that inherit from one another. For example, in the experiments repo we would have a CLI container that inherits from the Faasm one, and set up a separate docker-compose environment.

Faabric should be seen as a library/ middleware, and not a system, t

[2020-11-10 15:10] #325 closed

[2020-11-10 15:10] #303 closed

[2020-11-16 05:21] xushangning opened #353 ""error: redefinition of 'main'" during compilation of demo/hello"
Faasm version: master (0f4460fabe8a6f8b354f83fb752740100d653d64)

Try to follow the quick start in README using the container development environment and encounter the following errors during `inv compile demo hello`:

[code]

Another definition of `main` is in the file `/usr/local/faasm/llvm-sysroot/include/faasm/faasm.h`, shown below:

[code]

It does seem to be a redefinition in my opinion. Can

[2020-11-24 09:14] Shillaker commented on #353
Hi @xushangning , sorry for the slow reply, we've been busy working on some other changes to the project. I imagine you've given up on this now, but I'll fix it today anyway.

Thanks for raising.

[2020-11-24 10:29] xushangning commented on #353
That's fine. I'm still keeping a tab on the project!

[2020-11-25 07:19] #328 closed

[2020-11-25 07:19] #334 closed

[2020-11-30 20:32] xushangning commented on #353
Check out the master (0972ab9415a635bfd4cf131015a1a52179d04dd4) today and I was able to complete the quick start. Kudos!

[2020-11-30 20:32] #353 closed

[2020-12-01 11:37] Shillaker commented on #353
Ah that's good news! I actually still need to do another push to fully fix the Python execution, so if you spot anything else then definitely raise another issue.

We've been doing a lot of housework on the repos so stuff is moving around a lot. Should calm down soon :crossed_fingers:

[2020-12-02 11:55] #329 closed

[2020-12-02 11:55] #323 closed

[2020-12-02 11:56] #312 closed

[2020-12-12 06:56] xushangning opened #381 "No support for function override on upload"
- Version: master (3ea590b3dd5786337955a5ba2b7dbaa7e2ae0da1)
- Description: Even if a new wasm file for a function e.g. demo/hello is uploaded, the old version of the function is executed.

This can be easily reproduced by first compiling, uploading, and invoking the demo/hello function that comes with the repo, and then just modify the hello function a little e.g. change the string to output and

[2020-12-18 09:52] Shillaker commented on #381
Hi @xushangning , thanks for the message. You are correct, this is an annoying issue that we've thought about changing for a while but never got round to it. However, you shouldn't have to delete all the containers, you just need to restart some of them. If you're using the docker-compose set-up, the steps would be:

- Upload the modified function
- Restart `worker`, `upload`, `redis-queue` (i.e.

[2020-12-18 10:45] xushangning commented on #381
Got it. I'll try to narrow down the containers to restart.

Feel free to keep this issue open to track the bug or close it if it clutters the the issue tracker.

[2020-12-19 07:13] xushangning commented on #381
I just did a fresh checkout of master (2a7421df552b0d14b3d03f2c4353123f35413e52) and restarting containers (be it all containers or 3 containers you've mentioned) doesn't work. After restart, the old version of function is still invoked.

[2020-12-21 11:22] csegarragonz opened #382 "Library not found error"
Some checks [fail](https://github.com/faasm/faasm/runs/1588125001?check_suite_focus=true) when running any script linked with `pistache` with the following [error](https://github.com/faasm/faasm/runs/1588125001?check_suite_focus=true#step:11:57):
[code]

This can be replicated (sometimes) locally running:
[code]

Browsing the filesystem, we can indeed find the library installed in `/usr/local/lib/

[2021-01-04 08:25] #311 closed

[2021-01-06 09:06] Shillaker commented on #381
Hi @xushangning I'll have a look at this now.

[2021-01-11 10:10] #382 closed

[2021-01-14 15:16] Shillaker commented on #381
Hey @xushangning sorry this took so long, turned out there was a bit more complexity involved in updating functions than I'd imagined. This is mainly due to the various layers of caching performed in distributed workers.

Although it's not a great solution, I've fixed up the `flush` operation, which clears out all cached function data from all the nodes. This means the workflow might look somethin

[2021-01-25 12:03] xushangning commented on #381
Sorry for the delay in response... I tested master (ac8955d02ca6f1a5eceeb71d51d709876cdd1c78) just now with the hello function and it was still the old version of the function that got executed.

Is there any debug information I can provide (files deleted or data structures updated during flushing)?

Also, during this time I've found a reliable workaround to this problem: Recreate the upload and w

[2021-01-27 13:52] Shillaker commented on #381
Hi @xushangning, @csegarragonz has kindly pointed out that the instructions I gave were actually in the wrong order, and that you have to run `flush` _before_ running `upload`.

I've updated my previous comment now, let me know if that works.

[2021-01-28 09:31] xushangning commented on #381
Wow! You're right. Now it works wonderfully.

[2021-01-28 09:31] #381 closed

[2021-02-23 07:17] xushangning commented on #381
Summary: The sequence of operations that works on my computer is actually upload → invoke → flush → invoke. The key point is that `flush` must be followed by `invoke` to be effective.

I still came across this issue when playing around Faasm and did some experiments on ac8955d02ca6f1a5eceeb71d51d709876cdd1c78 using the `cpp_example` function. In the following comment,

the tip worked for me not be

[2021-02-23 08:10] Shillaker commented on #381
Ok great, thanks so much for the detailed summary @xushangning !

Hopefully we'll get round to fixing this properly soon, but unfortunately it's currently not high on the priority list. Glad the `flush` will work in the meantime though.

[2021-04-06 11:04] csegarragonz commented on #324
I think we can close this issue as now all python code lives in https://github.com/faasm/python

[2021-04-06 14:35] Shillaker commented on #324
What I mean is the dependencies in [`requirements.txt`](https://github.com/faasm/faasm/blob/master/faasmcli/requirements.txt). It's an easy win to keep things repeatable for longer.

[2021-04-28 07:46] Shillaker opened #413 "Modern CMake"
The CMake files in this project and its submodules are not up to scratch with modern CMake practices (as outlined [here](https://cliutils.gitlab.io/modern-cmake/) and [here](https://gist.github.com/mbinna/c61dbb39bca0e4fb7d1f73b0d66a4fd1).

A to-do list of low-hanging fruit:

[] Remove all use of global functions like `include_directories` and `link_directories`
[] Add `PUBLIC` and `PRIVATE` to ta

[2021-05-09 02:41] yanghaku opened #414 "How to add custom function for wavm"
I want to extend some function for faasm host interface in the wasm runtime.
so I did the following:

### my operation
#### for project faasm

In src/wavm/faasm.cpp, add the code and compile
[code]

#### for project client/cpp

in libfaasm/faasm/core.h, add:
[code]

in libfaasm faasm.imports , add:
[code]

in the func/demo/hello.cpp, change to:
[code]

and run the command:
[code]

#### result

but

[2021-05-10 07:59] Shillaker commented on #414
Hi @yanghaku , yes that error is pretty cryptic, I would have thought it would say something more useful :smile: .

When you start modifying Faasm you should run through the initial set-up in the [Faasm development docs](https://github.com/faasm/faasm/blob/master/docs/development.md).

The problem in your case is that you're not actually recompiling Faasm with your new `example` function (i.e. the

[2021-05-15 01:13] xuxbuptisc opened #417 "does faasm support MAC M1"
hello, i followed the instruction from README. but it seems that faasm does not support my MAC M1. the error log:

[code]

[2021-05-15 07:31] Shillaker commented on #417
Hi @xuxbuptisc this looks like an issue with [WAVM](https://github.com/WAVM/WAVM), which is one of the WebAssembly VMs we use under the hood. You can see that someone else has a similar issue with Windows here: https://github.com/WAVM/WAVM/issues/312.

[2021-05-15 10:35] xuxbuptisc commented on #417
thanks. i am following that issue.

[2021-06-30 10:18] csegarragonz opened #447 "Splitting SGX Attestation PR"
This is my suggestion on how to split #357 which currently is too large to work with.

**PR 1: SGX cluster w/ key manager**
* Define a `docker-compose` file, something like: `docker/docker-compose-sgx.yml` to run SGX-Faasm deployments.
* Add a service for the key manager (as you do in `docker-compose-sgx-attesation.yml`. Is `mongo` needed?
* The file should set the necessary environment variables.

[2021-06-30 10:24] csegarragonz commented on #447
@Shillaker and @dgoltzsche this is the first tentative plan on how to merge the #357. Feel free to add comments with suggestions or edit the text itself (don't know if you can).

The underlying idea is that attestation is orthogonal to crypto, policies, parsing, and the integration of the previous upstream. Each PR should expose a reasonable API that can both (1) be tested, and (2) be called from

[2021-06-30 10:55] dgoltzsche commented on #447
Nice, thanks for putting in the work! Some feedback:

- **PR 1:** Yes, `mongo` is necessary. The [keymanager](https://github.com/faasm/keymanager) expects a mongodb to use it for storing keys
- **PR 2:** What's the last point?
- **PR 4:** Rewriting parts of `wasm.py` using existing parsers should be possible, but might not be worth the effort.

[2021-06-30 14:42] Shillaker commented on #447
Great, looks good. Some comments:

PR 1: does the docker-compose stuff mentioned here need to live in this repo? Is it needed for testing? I think it could actually live in the keymanager repo which would then have the faasm repo as a submodule.

PRs 1 and 2: I would merge these two as it'll be adding then removing the same files. I'd forgotten the keymanager needs mongodb, let's take that discuss

[2021-07-02 14:15] csegarragonz commented on #447
Re-numbered the PRs according to Simon's comment. Will add links to the actual PR's as they come in.

[2021-09-09 09:19] Shillaker opened #477 "Master -> main"
Remember to update readthedocs too.

[2021-10-14 09:52] Shillaker opened #504 "Scaling issues"
This is an offshoot of @kubasz original issue about scaling issues: https://github.com/faasm/faabric/issues/156 to capture the WAVM/ Faasm specific ones.

Some solutions are implemented in these forks:

- https://github.com/auto-ndp/faasm
- https://github.com/auto-ndp/WAVM

Faasm-specific:

- File descriptors seem to be used a _lot_, and it's easy to run out of them at high throughput. It would be

[2021-10-21 15:45] Shillaker opened #517 "More granular and comprehensive flushing"
Currently there is only one `flush` operation, which clears out anything cached locally on Faasm workers. This is ok in certain scenarios, but could definitely be more explicit.

It falls short in fully deleting shared files and files related to functions. For example, there is currently no way, as a remote client, to completely delete everything related to a function so that a user can start fres

[2021-10-22 09:37] Shillaker opened #518 "Fix flushing and avoid upload caching"
- Make update server always read from and write directly to S3 (via `useLocalFsCache` param on `FileLoader`).
- Make sure current flush method clears out WAVM and WAMR and SGX in-memory caches (as well as all locally cached files).
- Modify the quick-start test to add a re-upload of the same function (upload the `demo/echo` wasm to `demo/hello` and reinvoke, check that it's changed).

[2021-10-26 12:06] Shillaker opened #524 "Remove use of Ansible"
The Ansible scripts are now _mostly_ obsolete. They are still used/ mentioned in a couple of places:

- [MPI docs](https://github.com/faasm/faasm/blob/master/docs/mpi.md) - these need to be updated, perhaps to point at the [`experiment-mpi` repo](https://github.com/faasm/experiment-mpi) instead.
- [`cpp-root` Dockerfile](https://github.com/faasm/faasm/blob/master/docker/cpp-root.dockerfile) - curr

[2021-10-26 13:01] #518 closed, assigned to csegarragonz

[2021-10-28 15:00] csegarragonz opened #526 "Remove Boost dependency"

[2021-10-28 17:20] eigenraven opened #528 "Make use of C++20 features"
A few useful features:

- [ ] [std::span](https://en.cppreference.com/w/cpp/container/span) instead of ptr+len pairs and some const vector&/const string& references as it can accept any of these, and avoid copying memory
- [ ] [std::jthread](https://en.cppreference.com/w/cpp/thread/jthread) stoppable threads - might be good to express threads that must join after they get destructed, especially in

[2021-10-28 17:42] eigenraven opened #529 "Lighter docker containers"
The current way the containers are set up wastes a lot of resources when setting them up on different machines. There could be a faasm-builder container that builds all of the programs (upload, pool_runner, codegen, etc.), and then they all get copied with their dependencies into small runner containers, without any of the build files. We have to be careful about FS structures and shared library p

[2021-10-28 18:08] #526 closed, assigned to csegarragonz

[2021-10-30 13:43] eigenraven opened #532 "UserFaultFD for much better page fault SMP scaling and delta snapshot changed pages tracking"
This might be more relevant to me, but I know you also do soft-dirty tracking which uffd replaces in a much nicer way, so just putting a bunch of resources here.

* Official docs:
* <https://www.kernel.org/doc/html/latest/admin-guide/mm/userfaultfd.html>
* <https://man7.org/linux/man-pages/man2/userfaultfd.2.html>
* <https://man7.org/linux/man-pages/man2/ioctl_userfaultfd.2.html>
* Redhat presenta

[2021-11-01 09:39] Shillaker opened #533 "Add e2e tests in place of quick-start"
Quick-start tests were added to make sure the "quick start" instructions continue to work, but have proven themselves to be an effective end-to-end integration test.

The quick-start instructions actually just use the latest container versions (i.e. not the latest code). The quick-start tests therefore do their job, but this means the next time someone builds a new container, they have to sort out

[2021-11-01 09:44] Shillaker commented on #532
Interesting, thanks for sharing. Clearly this would yield some improvements, but is it possible to quantify how big those improvements would be? I see the word "massively" again, any idea how massively it would be massive 😄?

Obviously not saying it's not worth doing, just have to be tactical about when and what to change with limited resources.

[2021-11-01 09:47] kubasz commented on #532
I will be running some microbenchmarks soon to figure out how good it actually is compared to what the authors say in the faasm usecase

[2021-11-01 09:53] Shillaker commented on #532
Awesome, will be very interested to see the results.

[2021-11-03 15:12] kubasz commented on #532
Microbenchmark results:

For reference:
 * BM_NoProtection - the case with no memory protection at all, the full 4GiB of the 8GiB virtual allocation are PROT_READ|PROT_WRITE all the time
 * BM_FullNewMapping - if mmap is called on the entire 4GiB range every iteration
 * BM_ReuseMapping - what faasm (mostly, exactly what my fork does) does now: map once, resize with mprotect when increasing size a

[2021-12-09 10:36] kubasz opened #545 "Broken OpenMP test"
In #544 I had to disable a broken dist-test:
https://github.com/faasm/faasm/commit/2ccb69e952398017067cc1a004c4e8629194426e#diff-31afb10f659500d0400b9a84729a5b5c815d4a74809dca8858175803cc82ff89L10

[2021-12-21 15:37] csegarragonz opened #554 "Potential/ confirmed concurrency issues"
This issue is a list of bugs uncovered by sanitised builds similar to faasm/faabric#189.

## Address Sanitiser

* [ ] Test static for scheduling ([see here](https://github.com/faasm/faasm/runs/4596476840?check_suite_focus=true#step:29:2867))

## Undefined behaviour

* [ ] Test nested openmp explicitly disabled ([see here](https://github.com/faasm/faasm/runs/5534872742?check_suite_focus=true#step:2

[2021-12-22 15:37] #324 closed

[2021-12-30 08:19] #545 closed

[2022-01-04 15:57] kubasz commented on #529
Some numbers from docker refactors I just did in <https://github.com/auto-ndp/faasm/compare/51babc0d7438b043d6b39d2d2dd69be7955881ac...f4dfacc58db59367d8581f27aaabc54601c26589> (splitting base into base and base-runtime, making worker/upload use base-runtime, small tweaks to other containers)

- faabric-base: 900MB -> 600MB
- faabric-base-runtime: 180MB
- sgx: 200MB -> 17MB (made it a two-phase bu

[2022-01-06 14:39] csegarragonz opened #562 "Quote conan revisions"
And also `UPDATE` when installing Conan deps see also faasm/faabric#213

[2022-02-01 11:44] zavalyshyn opened #566 "Can't find any collection named 'tasks'!"
Hi,
I'm trying your project's code (more specifically python samples) but anytime I try to execute an "inv" command I get an error saying the following:
[code]
I receive the same error when I try cpp samples as well. Am I missing something?

[2022-02-02 12:00] Shillaker commented on #566
Seems to work for me, can I just double check you're running off the latest master, and can you let me know your OS and shell?

[2022-02-03 14:30] zavalyshyn commented on #566
Simon, thanks for such a speedy response.
I've just tested your suggested command (git submodule update) and it worked brilliantly. I can compile and invoke a cpp hello function successfully. Will continue exploring FAASM.
Thanks for your hard work on this and congrats on ATC paper!

[2022-02-03 14:30] #566 closed

[2022-02-10 11:55] #562 closed

[2022-02-14 14:29] #477 closed

[2022-02-14 16:55] #524 closed, assigned to nobody

[2022-02-15 13:05] csegarragonz commented on #447
Really out-of-date after today's offline discussion, so will close.

[2022-02-15 13:05] #447 closed

[2022-03-11 17:41] Shillaker opened #613 "Resource deadlock on state ops"
Getting the following error on a call to `demo/pi` that results in cross-host chaining. Looks like one of two potential issues wrt state: either not setting the size when trying to pull, or a locking issue:

[code]

[2022-03-13 04:21] jxq96 opened #616 "Passing input_data"
I wonder how to pass input_data or command line parameter using the inv tool in the cli docker?

[2022-03-14 07:44] Shillaker commented on #616
Hey @jxq96. With all `inv` commands you can run `inv -h`, e.g.

[code]

This shows you the commandline options. For input data you can either do `-i` or `--input-data`, e.g.

[code]

[2022-03-14 08:18] Shillaker opened #617 "Completely remove SGX from normal build and test"
Now that we will have separate SGX containers, we can remove SGX from the default container, and have two test runs in GHA:

* Normal build and tests: runs the build in the default containers with `FAASM_SGX_MODE=Disabled`, and does all the normal sanitiser stuff
* SGX build and tests: runs the build in the SGX containers with `FAASM_SGX_MODE=Simulation`, then execute all the tests including the S

[2022-03-14 08:34] csegarragonz commented on #617
At the moment, we only use a different container tag to build SGX in hardware mode (`base-sgx` and `worker-sgx`). The reason is that the linking and compilation must be different between simulation and hardware builds. If we were to support a build with SGX disabled, we'd need yet a third container for sgx in simulation mode.

Other than the sanitiser stuff (I could give a crack at running sanitis

[2022-03-14 13:30] Shillaker commented on #617
To do this, we'd need:

- Remove all SGX-related setup and SGX container inheritance from standard Docker images, compile Faasm with SGX disabled.
- Convert existing `sgx` image into a new `base-sgx` image, which extends `base`, and includes the setup from `base`[https://github.com/faasm/faasm/blob/main/docker/base.dockerfile].
- Add new Docker image builds so that we have: `worker`, `worker-sgx-h

[2022-03-15 11:17] #617 closed

[2022-03-18 12:37] #613 closed

[2022-03-18 15:35] Shillaker opened #627 "Shared files and flushing"
Hi Shillaker,
I’m trying to explore and use your FaaSM project to do some research work. But I met some troubles, which I spent some time on it but not work. So I’m sorry to disturb you for some help.

First, How to access shared files in Serverless function, e.g, I upload a file by “ curl -X put -H “FilePath: test.txt”  localhost:8002/file -T test.txt “. How can I access test.txt in Serverless fu

[2022-03-18 15:39] Shillaker commented on #627
Documentation on both topics has been updated in https://github.com/faasm/faasm/pull/625

The page on shared files is [here](https://faasm.readthedocs.io/en/latest/source/shared_files.html).

Examples of uploading, modifying, flushing and invoking a function can be found on the [C++ function page](https://faasm.readthedocs.io/en/latest/source/cpp.html).

[2022-04-07 18:01] csegarragonz opened #634 "Exception thrown by upload server"
The distributed tests are [failing](https://github.com/faasm/faasm/runs/5873019369?check_suite_focus=true) in the CI with an error during function upload. I can reproduced the exception locally.

The minimal set up to reproduce the exception from the current main:

[code]

[2022-04-07 18:03] csegarragonz opened #635 "Errors in WAMR filesystem support"
Two tests are currently failing, both related to the WAMR filesystem implementation:

- `Test fread`: https://github.com/faasm/faasm/blob/main/tests/test/faaslet/test_filesystem.cpp
- `Test accessing shared files`: https://github.com/faasm/faasm/blob/main/tests/test/faaslet/test_shared_files.cpp

These are perhaps related, perhaps not related, but both failures seem to be sporadic.

[2022-04-08 11:15] csegarragonz commented on #634
The error seems to have escaped GHA because in the distributed or quick start tests we don't use the cluster tasks to create the cluster, rather call docker-compose directly. This means that we use whatever version of the code we shipped with the latest container image, effectively skipping commits until a new release comes around.

[2022-04-08 16:54] csegarragonz opened #636 "Issue with `FAASM_BUILD_DIR`"
When running outside a container but with the virtual environment enabled (i.e. `source ./bin/workon.sh`-ed), the envrionment variable `FAASM_BUILD_DIR` exported in `./bin/workon.sh` overwrites the one in `.env`, effectively disabling the shared mount from e.g. the CLI with other containers in the development cluster.

[2022-04-11 07:20] Shillaker commented on #616
Closing due to inactivity. Feel free to reopen if necessary.

[2022-04-11 07:20] #616 closed

[2022-04-11 08:59] Shillaker commented on #635
We don't really have time to fix this at the moment so let's just disable the test(s) with a note then leave this issue open.

[2022-04-11 10:56] Shillaker commented on #636
I'm not sure I understand what you mean by "running" here, what do you mean specifically?

`workon.sh` will set `FAASM_BUILD_DIR` to `${PROJ_ROOT}/dev/native/build` when run outside a container, and to `/build/faasm` when run inside a container. Therefore, if you run `docker-compose` commands from the terminal having run `workon.sh`, it will see the `native/build` version. That means, for example,

[2022-04-11 10:58] Shillaker commented on #635
I just took another look and this isn't actually failing on the sanitiser build, it's failing on the normal build.

[2022-04-11 13:44] Shillaker commented on #634
The issue with using the current release in the quick-start tests is already covered by this issue: https://github.com/faasm/faasm/issues/533

The issue related to the Faabric server should be fixed here: https://github.com/faasm/faabric/pull/254

[2022-04-19 07:01] csegarragonz commented on #634
The issue I was seeing was fixed in faasm/faabric#254 so will close now.

[2022-04-19 07:01] #634 closed

[2022-05-16 09:32] mmathys opened #647 "Compose v3 support"
The `bin/cli.sh` script could be updated to support compose v3. The command `docker-compose` was deprecated and `docker compose` is used instead.

Another option is to add a note in the docs.

[2022-05-16 14:38] Shillaker commented on #647
We use `docker-compose` in a few places throughout the project, not just in `cli.sh`, but as long as we do a find-and-replace to `docker compose`, I think that's fine. It's relatively straightforward to upgrade.

[2022-05-19 06:02] wilsonwang371 opened #649 "Question about different runtimes"
Hi,

I am wondering why Faasm has two wasm runtimes support(WAMR & WAVM).

What is the reason to have two of them instead of just having one?

Thanks

[2022-05-19 10:43] Shillaker commented on #649
Hi @wilsonwang371,

WAVM is our best-supported runtime, and has historically been more performant, and provide more comprehensive support for the latest wasm features.

We currently only include WAMR to support SGX.

Why do you ask?

[2022-05-19 17:07] wilsonwang371 commented on #649
I am recently doing research on different serverless frameworks. While I am reading Faasm source code I found this.

Btw, have you ever compared Faasm with similar alternatives? For example: Ray framework.

[2022-05-20 11:49] Shillaker commented on #649
We've not compared with Ray directly, but have benchmarked against other serverless platforms. The only published results on the topic can be found in our ATC paper mentioned in the README.

I'm going to close this issue for now as it's not related to an issue with the code, but feel free to email me if you'd like to discuss any specific research topics.

[2022-05-20 11:49] #649 closed

[2022-05-27 14:03] Shillaker opened #651 "Resurrect Tensorflow Lite library"
We've not run the TFLite code for several years now, but it should be possible to resurrect it.

The code lives in this archived repository: https://github.com/faasm/faasm-experiments.

The script to build the Tensorflow Lite library to WebAssembly is here: https://github.com/faasm/faasm-experiments/blob/master/tasks/tensorflow.py#L38

While the function to invoke it is here: https://github.com/fa

[2022-05-27 16:21] #647 closed

[2022-05-28 19:33] FlowDrucka64 opened #653 "Faasm development: inv dev.cmake clang-13 and clang++-13 missing"
When exectuing `inv dev.cmake` in the containerized faasm cli (run with `./bin/cli.sh faasm`) the following happens:

----------------------------------
Faasm CLI
Version: 0.8.12
Project root: /usr/local/code/faasm
Mode: container
----------------------------------

(faasm) root@3d494048d8b8:/usr/local/code/faasm# inv dev.cmake
cmake -GNinja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER=/usr/bin/c

[2022-05-30 08:04] Shillaker commented on #653
Yes you're right, `clang-13` is installed in the Docker image. This works for me:

[code]

This also works:

[code]

Can you also try these and confirm that you're running `faasm/cli:0.8.12`?

[2022-05-30 14:27] FlowDrucka64 commented on #653
It works when running it like you showed.
After closer inspection I noticed that I had two CLI images (an older one and 0.8.12) pulled for some reason and was presumably defaulting to the older one which is somewhat confusing since it even said
[code]
when firing up the container but whatever it seems to work now.
Thank you!

[2022-05-30 16:04] csegarragonz commented on #653
When running the development container (`./bin/cli.sh faasm`) we mount your checked out code to the project root, and read the version from there.

If you have stale containers lingering around, it could be that the code version and your container are out of date. In this cases removing all containers `docker-compose down` should do the trick.

I will close the issue, feel free to re-open it or op

[2022-05-30 16:04] #653 closed

[2022-06-08 14:33] csegarragonz opened #655 "Fix TSAN OOM error in GHA"
In #650 we remove the TSAN sanitised build from the tests, as it would exhaust all the memory in the Github-hosted runners. These runners have just 7 GB of RAM, so the more complexity (e.g. locking) we add to the codebase the more likely TSAN is to consume more and more memory.

If we ever want to bring it back, it is likely that we will have to move the pipeline to either a self-hosted Github run

[2022-06-08 17:10] #635 closed

[2022-07-13 13:38] FlowDrucka64 opened #662 "inv dev.tools : ninja error: protobuf/3.20.0 missing and no known rule to make it"
Hello!
When running ``inv dev.rools`` withing the faasm cli (entered via ``./bin/cli.sh faasm``) the following happens:
[code]

[2022-07-13 17:21] csegarragonz commented on #662
Hey!

Could you confirm you are running with the latest `main` commit?

Other than that, it could be that your installation has broken for some reason. The easiest solution in this case is to nuke your current working environment and re-build from scratch.

The soft approach is just running the same command with the `--clean` flag, that is (inside the container):

[code]

If that does not work, yo

[2022-07-14 10:21] FlowDrucka64 commented on #662
Thank you for your fast response!
I am running the latest main commit.
Running ``inv dev.tools --clean`` fixed the problem.

[2022-07-14 10:21] #662 closed

[2022-07-14 11:15] FlowDrucka64 opened #663 "inv codegen.local : Expected /usr/local/faasm/wasm/demo to be a directory"
Hello again,
(I'm currently trying to go through [Development](https://faasm.readthedocs.io/en/latest/source/development.html))
When running ``inv codegen.local`` the following happens:

[code]

Should this directory exist by default ?

[2022-07-14 11:26] Shillaker commented on #663
Hi @FlowDrucka64, that file should exist provided you have run through the steps [here](https://faasm.readthedocs.io/en/latest/source/development.html#tests) in the development page, specifically:

[code]

So, you have to run the `cpp` CLI, then execute those functions, i.e.

[code]

Can you confirm you've done this?

[2022-07-14 12:30] FlowDrucka64 commented on #663
Hello Simon!
First of all thanks for the quick response :)

I've done all of the steps from the docs (and I just redid them to make sure) and they completed without any errors.

[code]
[code]

[2022-07-14 12:58] Shillaker commented on #663
@csegarragonz AFAICT it is in the instructions, via the link in my message ([here](https://faasm.readthedocs.io/en/latest/source/development.html#tests)).

It seems as though it's not working though.

The dev setup should link everything together via the `dev/faasm-local` directory. Running the build with the `cpp` container should write wasm files to `dev/faasm-local/wasm/`, hence creating `dev/f

[2022-07-14 13:05] FlowDrucka64 commented on #663
looks good to me
[code]

[2022-07-14 13:11] FlowDrucka64 commented on #663
interestingly ``echo ${FAASM_BUILD_MOUNT}`` doenst return the path eventhough I ran ``./bin/cli.sh faasm`` beforehand. Does the environment varible get cleaned up somewhere?

[2022-07-14 13:13] FlowDrucka64 commented on #663
Looks like its present within the container aswell:
[code]

[2022-07-14 13:18] csegarragonz commented on #663
@Shillaker you are right, I got confused (twice) by the fact that `func.local` and `libfake` were in the same line.

@FlowDrucka64 it should be present in the container indeed. Outside the container it should be in `./dev/faasm-local`.

Can you check doing `ls /host_dev/faasm-local` in the faasm container?

Some env. variables could have overlapped.

[2022-07-14 13:19] FlowDrucka64 commented on #663
[code]

[2022-07-14 13:22] csegarragonz commented on #663
Maybe do the following:

[code]

[2022-07-14 13:24] FlowDrucka64 commented on #663
[code]

[2022-07-14 13:37] FlowDrucka64 commented on #663
Should I be able to read [FAASM_LOCAL_MOUNT](https://github.com/faasm/faasm/blob/main/.env#L18) outside of the container after running [./bin/cli.sh faasm](https://github.com/faasm/faasm/blob/main/bin/cli.sh#L75) and exiting again?

[2022-07-14 13:41] csegarragonz commented on #663
No, the env. variables will only be visible to the process that starts the container process. Note that when running `./bin/cli.sh` we always `exec` into a running container.

[2022-07-14 16:53] FlowDrucka64 commented on #663
Though I am doubting it matters I'll leave this here:
[code]

[code]

[2022-07-14 17:55] FlowDrucka64 commented on #663
Yeah I saw that error aswell. However when rerunning it, it disappeared:
[code]

@Shillaker told me in an earlier correspondece:

"We run Faasm on both WSL and bare metal Linux machines, using Ubuntu 20.04 and 22.04 in both cases. We can't guarantee that Faasm will work on any other platform. If you're using WSL you shouldn't need Docker Desktop, instead you should treat the installed Linux distro

[2022-07-15 08:07] csegarragonz commented on #663
My bad then. I knew @Shillaker was on WSL, but not necessarily on 22.04.

[2022-07-19 11:23] Shillaker commented on #663
Hi @FlowDrucka64, what's the status of this now? Did you manage to get the directory to mount inside your containers?

To summarise:

- When developing, the directory at `dev/faasm-local/wasm` should be mounted inside both your `cpp` and `faasm-cli` containers at `/usr/local/faasm/wasm`.
- This is done via the `FAASM_LOCAL_MOUNT` variable.
- The default value of `FAASM_LOCAL_MOUNT` is set (along w

[2022-07-19 16:26] Shillaker commented on #663
Ah ok great, that's probably much easier in your case :smile:

[2022-07-27 13:22] FlowDrucka64 opened #664 "ERROR: fmt/8.0.1: Cannot load recipe. / Error loading conanfile"
Hello!
I've been working on the revival of TF and was making good progress.
After a one day break, when invoking dev.camke in the faasm container the following happens:

[code]

Is this error occuring because I broke something?
(I already nuked everything (faasm repo, docker containers & volumes) but the docker images)

[2022-07-27 13:25] FlowDrucka64 commented on #664
Error log:
[code]

[2022-08-02 06:42] Shillaker commented on #664
Hi @FlowDrucka64, with anything related to Conan the first step is to try to upgrade Conan itself. This seems to work in my case. Can you run the following in your Faasm `cli` container?

[code]

Then retry?

[2022-08-02 07:16] Shillaker opened #665 "Question re. dynamic linking"
I received this over email:

[code]

Dynamic linking in Faasm works as follows:

- All dynamically linked modules in Faasm are compiled to wasm, and we run AOT machine code generation on them too (just like the functions themselves)
- When another module calls `dlopen`, we find the compiled wasm and machine code, and load them using the same mechanism normally used to load a function
- We then lin

[2022-08-02 12:27] FlowDrucka64 commented on #664
Thanks for your reply!
Updating conan fixed it. Kinda feel stupid for not comming up with that myself.

[2022-08-02 18:57] FlowDrucka64 commented on #651
Hello!
I made good progress in ressurecting the TF lib so far.

Compillation and installation of the libary seems to work.
[code]

Compillation of the invoke function seems to work.
[code]

Upload of the state seems to work.
[code]

Upload of the data seems to work.
[code]

Upload of the function seems to work:
[code]

However when trying to invoke the function:
[code]

I will start trying to figu

[2022-08-29 12:36] FlowDrucka64 commented on #651
Came back to it today and made it work!
The issue was, that the main function of the "old" function code was called ``FAASM_MAIN_FUNC()``. Changed it to ``int main(int argc, char* argv[])`` and it works like a charm!

[2022-08-30 20:35] mmathys opened #666 "Make scripts zsh proof"
E.g. [`workon.sh`](https://github.com/faasm/faasm/blob/bfb77185809a03a75113d99fe36b8c58112b7fa8/bin/workon.sh#L12..L15) is zsh proof, but not [`create_venv.sh`](https://github.com/faasm/faasm/blob/main/bin/create_venv.sh#L5). `bash` and `zsh` evaluate the expression for `THIS_DIR` differently.

[2022-08-31 11:32] mmathys opened #667 "Fix workon.sh prefix"
In [`workon.sh`](https://github.com/faasm/faasm/blob/bfb77185809a03a75113d99fe36b8c58112b7fa8/bin/workon.sh#L88), the `PS1` is updated the new virtual environment. If `workon.sh` is executed multiple times (e.g. when switching between environments), the old environment is kept in this variable, creating large string of virtual envs like this:

[code]

An easy fix could be to change this line to

[

[2022-08-31 11:44] eigenraven commented on #666
See <https://github.com/auto-ndp/faabric/blob/master/bin/workon.sh#L10>, maybe I should PR this upstream :sweat_smile:

[2022-08-31 12:22] mmathys commented on #666
That solution looks clean! Yeah this may be a good idea :)

[2022-09-01 09:49] mmathys commented on #667
I figured out a simple workaround.

[code]

The first command filters out the prefix (if it exists), then adds the prefix. What do you think?

[2022-09-01 09:54] eigenraven commented on #667
This would also filter out any parenthesized components of your default PS1, which afaik many prompt styles use

[2022-09-01 10:00] mmathys commented on #667
You're right. How about this approach:

[code]

[2022-09-05 15:43] mmathys opened #669 "`./bin/cli.sh faasm` not working from zsh"
Running `./bin/cli.sh faasm` from `zsh` returns the error

[code]

Setting this environment variable helps:

[code]

This could be added to the `cli.sh` script.

[2022-09-06 09:03] csegarragonz commented on #669
This happens because we allow developers to overwrite the `FAASM_CLI_IMAGE` with a custom image with ad-hoc dependencies installed (e.g. `zsh` instead of `bash` as shell).

We assume (maybe not a correct assumption?) that you will want to use the same shell in Faasm's development environment than in your shell environment. In general, when developing Faasm you will start the client setting a coupl

[2022-09-06 11:04] mmathys opened #670 "Update Conan in faasm/cli Docker image"
In the current Docker faasm CLI Docker image, the installed conan version (1.48.1) has some issues (#664). Should be updated to version 1.51.0.

[2022-09-06 13:04] mmathys commented on #670
@csegarragonz

[2022-09-06 13:07] csegarragonz commented on #670
Same that #664

[2022-09-07 19:48] FlowDrucka64 opened #672 "Deploying Faasm to (local) k8 cluster"
Hello!
I am currently trying to deploy faasm to my local k8 cluster by following along the [docs](https://faasm.readthedocs.io/en/latest/source/kubernetes.html#).
However when trying to run ``inv k8s.deploy --workers=4`` within the faasm cli container (started via ``bin/cli.sh faasm``) kubectl cannot be found: ``/bin/sh: 1: kubectl: not found`` eventhough a K8s cluster is set up with [kubectl](htt

[2022-09-08 14:58] FlowDrucka64 commented on #672
Oh okey that makes a lot more sense! I was already wondering how those commands are supposed to work within the container.
Yes I have kubectl installed and configured outside the container.
Thank you for clearing things up (once again)!

[2022-09-08 14:58] #672 closed

[2022-09-12 12:55] mmathys opened #673 "WAVM errors in cluster (Failure value returned from cantFail wrapped call)"
Setup: 6 nodes, LAMMPS experiment. This error only occurs sometimes (~30% of runs)

[code]

<details>
<summary>More detailed output</summary>

[code]
</details>

Sometimes the reason for the failure is the following:

[code]

The underlying messaging could be an issue, but I'm not familiar enough with the stack to judge this.

This issue causes the worker to crash. Other workers who depend on the

[2022-09-12 13:00] mmathys opened #674 "Parallelize worker flushing"
The flushing of workers is done sequentially. For large cluster (e.g. 64 workers), it may be beneficial to parallelize flushing requests.

[2022-09-14 09:33] #664 closed

[2022-09-14 09:33] #670 closed

[2022-09-15 11:16] mmathys commented on #673
I believe the error is thrown in [here in WAVMWasmModule.cpp](https://github.com/faasm/faasm/blob/main/src/wavm/WAVMWasmModule.cpp#L632-L636).

This error **does not** occur when using only one worker node with 2 slots, 8 mpi processes per task, 4 tasks (sent at the same time) (ran 10 times).

[2022-09-15 11:39] mmathys commented on #673
Repro steps:

[code]

[2022-09-15 15:12] #669 closed

[2022-09-16 07:27] xwang98 opened #676 "Use the rats-tls for remote attestation"
I would like to share that the WAMR now supports rats-tls (https://github.com/inclavare-containers/inclavare-containers/blob/master/rats-tls/docs/design/design.md) which can greatly simplify the clients doing remote attestation for the wasm runtime and modules running from SGX.

It may have a good chance to be used by the Trusted FaaS of Faasm?

The sample is available here:
https://github.com/byt

[2022-09-16 14:43] csegarragonz commented on #676
Hi, thanks for pointing this out!

Let me make sure I understand what is going on in the example. It seems to me that `librats` is callled from _inside_ WASM code. What is the purpose of calling `librats_verify` from _inside_ the enclave?

I would expect a remote party to be the one interested in verifying the quote. Also, what attestation service does `librats` use to validate the quote?

[2022-09-19 08:43] zeuson0 commented on #676
Hi, I'm one of the contributors to `librats` and ported it for WAMR. It could help users of faasm to verify that the runtime is trusted and the module run in it is untampered. Also, it supports mutual authentication between different runtimes in different TEEs.

Librats is called from inside WASM code because we think that users may needs to implement a network service in the WASM module and decid

[2022-09-26 13:07] FlowDrucka64 opened #677 "Profiling TensorflowLite inference"
Hello!
Did you use any of the documented [profiling methods](https://faasm.readthedocs.io/en/latest/source/profiling.html?highlight=timing) for your evaluation of TF Lite inference in your [paper](https://www.usenix.org/conference/atc20/presentation/shillaker)?
If so which ones, if not which ones did you use?
(I am looking to reproduce your results)

[2022-09-27 16:50] csegarragonz commented on #677
Glad that you manage to find the answer yourself. Will close the issue. Feel free to re-open it if something does not look right :)

[2022-09-28 17:43] #667 closed

[2022-09-30 16:07] csegarragonz commented on #651
Hey @FlowDrucka64, great news that you made it work!

Any chance that you could upstream the working version to `faasm/cpp`?

Ideally we'd also two tests:
* One in `faasm/cpp` to check that compilation works succesfully ([example of FFmpeg test](https://github.com/faasm/cpp/blob/main/.github/workflows/tests.yml#L51)).
* One in `faasm/faasm` to check that a basic function actuall runs. The test fun

[2022-10-01 20:29] FlowDrucka64 commented on #651
Yeah sure I'd like to do that!
I'm not certain how to do that exactly though since my changes are currently not reflected inside your cpp image.
Do I create a new image with my changes and run the tests for this image?
Also I think I dont want to upstream until I've finished my work on this (currently working on ressurecting the TF benchmarking) since there might be further changes.
By the way I f

[2022-10-03 08:08] csegarragonz commented on #651
Great! I have opened a PR in `faasm/cpp` with your changes, and will add comments there: faasm/cpp#96

[2022-10-04 12:36] #666 closed

[2022-10-18 17:45] csegarragonz opened #687 "Fix deprecation warning in CI"
Third-party actions that use `node:12` are marked as deprecated, so we should look for alternatives.

[2022-10-24 10:34] #655 closed

[2022-10-26 18:40] csegarragonz opened #690 "Fix spurious WAVM failures in the tests"
Some test runs fail during the code generation step, when WAVM complaints that it can't find a missing CPU feature:

[code]

This issue is related: https://github.com/WAVM/WAVM/issues/312

List of machines that trigger the problem:

There's a similar thread on the `bytecodealliance` zulip chat. Then it was not a false positive like in the WAMR issue, rather a very old machine. I personally don't t

[2022-10-27 10:32] #687 closed

[2022-11-01 19:31] KeplerC opened #695 "Request error when running demo hello example in README"
Hi, I am trying to run the end-to-end quick start examples from README, but I am unable to do so because of the request error with `inv`.
[code]
Is there any procedure that I missed?

Here are a few things that I tried:
1. running
[code]
from README will run two separate clusters. I fixed it by running them together and modify the `cpp` docker compose to use local host network.

2. however, when I

[2022-11-02 09:03] csegarragonz commented on #695
Hi @KeplerC thanks for reporting this!

what do you mean by "two separate clusters"? The command will start a Faasm cluster with two worker instances. For reference, running `docker compose ps -a` will give you the status of the cluster.

If I replicate your steps, I can indeed replicate the issue. Running `docker compose ps -a` shows that the `worker` service has failed to start (thus `nginx` is

[2022-11-02 10:25] csegarragonz commented on #663
Closing this @FlowDrucka64 please open another issue if you run into other problems.

[2022-11-02 10:25] #663 closed

[2022-11-02 17:29] KeplerC commented on #695
Hi @csegarragonz,

Thank you for your fast response, and thank the faasm team for the great work.

Sorry that I am not familiar with `docker compose` so I probably derived to a wrong hypothesis. I tried to directly run `docker compose run cpp /bin/bash` that may

[code]
It turned on the host networking in `cpp` and the repo diff is something like
[code]

When running `inv func.upload demo hello`,

[2022-11-02 17:35] KeplerC commented on #695
It seems the second issue is related to #690 and thus https://github.com/WAVM/WAVM/issues/312.

[2022-11-02 17:43] csegarragonz commented on #695
You don't need to turn host networking on. In `docker-compose` all services (as defined in `docker-compose.yml`) are reachable by their service name, so if you really wanted you could try something like: `curl -f http://upload:8002/ping`. That being said, Faasm handles this under the hood, so you don't need to use `curl` at all, `inv func.upload demo hello` and `inv func.invoke demo hello` should

[2022-11-02 17:55] KeplerC commented on #695
Thanks for your help! it works now.

We are using a virtualized environment on AMD EPYC 3 generation on top of KVM. I also noticed a PR draft on moving to LLVM 13 (https://github.com/faasm/faasm/pull/642). I will stay tuned on this.

I will therefore close the issue as the problem is solved.

[2022-11-02 17:55] #695 closed

[2022-11-02 17:58] csegarragonz commented on #695
Great! @KeplerC just bear in mind that WAMR support is **not** as extensive as WAVM support (yet) so other than some basic or ad-hoc functions, things may not work in WAMR.

In addition, all optimisations re. cold-start times, shared memory, and message passing, are only available in WAVM, so take that into consideration if benchmarking the system :)

That being said, I hope I can fix this sometim

[2022-11-14 22:44] christiansicari opened #706 "Error during compose up error gathering device information while adding custom device "./dev/faasm-local/sgx/enclave""
I just tried to compose up the environment, basically I cloned the repo. I set the environment variable
[code]
then I simply run
[code]
This is what I got:
[code]

[2022-11-15 10:40] csegarragonz commented on #706
Hi @christiansicari, thanks for using Faasm and reporting this!

Following the [quick start docs](https://github.com/faasm/faasm#quick-start) in the main `README.md` file, you will see that the way to start a Faasm cluster is actually:

[code]

In particular, we specify the service we want to start (`nginx`) as otherwise Faasm will try to start unncessesary (or unsupported!) devices/volumes.

Also

[2022-11-22 17:35] csegarragonz commented on #674
Recent experiments show that this is not a problem with 32 or 64 workers, so will close for the time being.

[2022-11-22 17:35] #674 closed

[2022-11-27 11:00] csegarragonz commented on #651
Closed with faasm/examples#1

[2022-11-27 11:00] #651 closed

[2022-11-29 13:07] csegarragonz commented on #532
AFAICT this was closed with faasm/faabric#232 (re-open if I am wrong)

[2022-11-29 13:07] #532 closed

[2022-11-29 13:11] csegarragonz opened #709 "Multi-tenant OpenMP"
Currently, if we run two OpenMP applications with the same user and function on the same host, Faasm crashes with some memory corruption errors.

My bet is that we are wrongly re-using the same executor here: https://github.com/faasm/faabric/blob/main/src/scheduler/Scheduler.cpp#L824-L827

I open the issue as I don't have the time to fix this now. A workaround is to just change the function name.